html {
    font-size: 62.5%;
    box-sizing: border-box;
}

:root {
    --ff-Playfair: 'Playfair Display', serif;
    --ff-Montserrat: 'Montserrat', sans-serif;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    /*--===========color=============--*/
    --color-body: #FFFFFF;
    --color-text: #333333;
    --color-footer: #A9A9A9;
    --color-header-p: #4F4F4F;
    --color-aside-propieda: #BDBDBD;
    --color-aside-valor: #F2994A;
    --color-check: #FFFFFF;
    --color-check-borde: #828282;
    --color-fuente: #BDBDBD;
    /*--===========contenedor=============--*/
    --max-width: 96.9rem;
    /*--===========fontsize=============--*/
    --fs-body: 1.4rem;
    --fs-header-h1: 2.4rem;
    --fs-header-p: 1.2rem;
    --fs-aside-propiedad: 0.8rem;
    --fs-aside-valor: 1rem;
    --fs-ingredientes-h3: 1.8rem;
    --fs-ingredientes-h4: 1.6rem;
    --fs-ingredientes-label: 1.4rem;
    --fs-instrucciones-h2: 2.4rem;
    --fs-instrucciones-label: 1.6rem;
    --fs-instrucciones-check: 2.4rem;
    --fs-fuente: 1.2rem;
    /*--===========lineheight=============--*/
    --lh-header-h1: 3.199rem;
    --lh-header-p: 1.463rem;
    --lh-aside-propiedad: 0.975rem;
    --lh-aside-valor: 1.219rem;
    --lh-ingredientes-h3: 2.399rem;
    --lh-ingredientes-h4: 2.133rem;
    --lh-ingredientes-label: 2.5rem;
    --lh-instrucciones-h2: 3.199rem;
    --lh-instrucciones-label: 2.4rem;
    --lh-instrucciones-check: 3.199rem;
    --lh-fuente: 1.8rem;
}

@media (min-width: 768px) {
     :root {
        --fs-header-h1: 4.8rem;
        --fs-header-p: 1.4rem;
        --fs-aside-propiedad: 1rem;
        --fs-aside-valor: 1.4rem;
        --fs-ingredientes-h3: 2.4rem;
        --fs-ingredientes-h4: 1.8rem;
        --fs-ingredientes-label: 1.6rem;
        --fs-fuente: 1.6rem;
        --lh-header-h1: 6.398rem;
        --lh-header-p: 1.707rem;
        --lh-aside-propiedad: 1.219rem;
        --lh-aside-valor: 1.707rem;
        --lh-ingredientes-h3: 3.199rem;
        --lh-ingredientes-h4: 2.399rem;
        --lh-fuente: 2.4rem;
    }
}

body {
    font-family: var(--ff-Montserrat);
    font-size: var(--fs-body);
    margin: 0;
    background-color: var(--color-body);
    color: var(--color-text);
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img {
    width: 100%;
}

.contenedor {
    width: calc(100% - 5.866%);
    max-width: var(--max-width);
    margin-left: auto;
    margin-right: auto;
}

header {
    margin-top: 3.2rem;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px) {
    header {
        margin-bottom: 4.3rem;
    }
    .header__contenido {
        max-width: 65rem;
    }
}

header h1 {
    font-family: var(--ff-Playfair);
    font-weight: var(--fw-bold);
    font-size: var(--fs-header-h1);
    line-height: var(--lh-header-h1);
    margin-bottom: 1.2rem;
}

header p {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-medium);
    font-style: italic;
    font-size: var(--fs-header-p);
    line-height: var(--lh-header-p);
    color: var(--color-header-p);
    display: flex;
    position: relative;
    padding-left: 2.6rem;
    padding-right: 2.6rem;
}

@media (min-width: 768px) {
    header p {
        padding-left: 3rem;
        padding-right: 0;
    }
}

header p::before {
    font-family: 'Material icons';
    content: 'drag_indicator';
    display: inline-block;
    font-size: 2rem;
    font-style: normal;
    line-height: var(--lh-header-p);
    color: #C4C4C4;
    transform: rotate(90deg);
    position: absolute;
    left: 0;
}

.muestra {
    margin-bottom: 2.4rem;
}

.muestra img {
    min-height: 21.38rem;
}

.main {
    display: flex;
    flex-direction: column-reverse;
}

@media (min-width: 768px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 768px) {
    .main__contenido {
        flex: 0 0 58.81%;
    }
}

aside {
    display: flex;
    flex-direction: column;
    margin-bottom: 3.025rem;
}

@media (min-width: 768px) {
    aside {
        flex: 0 0 21.6rem;
        border: 1px solid;
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
        border-radius: 12px;
        border: 1px solid #FFFFFF;
        height: 367px;
        justify-content: center;
        align-items: center;
    }
}

.aside__porciones {
    margin-bottom: 2.896rem;
}

@media (min-width: 768px) {
    .aside__porciones {
        margin-bottom: 4.3rem;
    }
}

.porciones__icon {
    position: relative;
    padding-left: 2.52rem;
}

@media (min-width: 768px) {
    .porciones__icon {
        padding-left: 3.96rem;
    }
}

.porciones__icon .propiedad,
.informacion__icon .propiedad {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-bold);
    font-size: var(--fs-aside-propiedad);
    line-height: var(--lh-aside-propiedad);
    color: var(--color-aside-propieda);
}

.porciones__icon .propiedad::before {
    font-family: 'Material icons';
    content: 'local_dining';
    display: inline-block;
    font-size: 2rem;
    font-style: normal;
    line-height: 1;
    color: var(--color-aside-valor);
    position: absolute;
    left: 0;
    direction: ltr;
}

@media (min-width: 768px) {
    .porciones__icon .propiedad::before {
        font-size: 2.9rem;
    }
}

.porciones__icon .valor,
.informacion__icon .valor {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-regular);
    font-size: var(--fs-aside-valor);
    line-height: var(--lh-aside-valor);
    color: var(--color-aside-valor);
}

.aside__informacion {
    display: flex;
}

@media (min-width: 768px) {
    .aside__informacion {
        flex-direction: column;
    }
}

.informacion__icon {
    position: relative;
    padding-left: 2.52rem;
    margin-right: 4rem;
}

@media (min-width: 768px) {
    .informacion__icon {
        padding-left: 3.96rem;
        margin-right: 0;
    }
    .informacion__icon:not(:last-child) {
        margin-bottom: 4.3rem;
    }
}

.informacion__icon .propiedad::before {
    font-family: 'Material icons';
    content: 'schedule';
    display: inline-block;
    font-size: 2rem;
    font-style: normal;
    line-height: 1;
    color: var(--color-header-p);
    position: absolute;
    left: 0;
    direction: ltr;
}

@media (min-width: 768px) {
    .informacion__icon .propiedad::before {
        font-size: 2.9rem;
    }
}

.informacion__icon .valor {
    color: var(--color-text);
}

.main__contenido {
    display: flex;
    flex-direction: column;
}

.main__contenido h3 {
    font-family: var(--ff-Playfair);
    font-weight: var(--fw-bold);
    font-size: var(--fs-ingredientes-h3);
    line-height: var(--lh-ingredientes-h3);
    margin-bottom: 1.3rem;
}

.main__contenido .ingredientes {
    display: flex;
}

.ingredientes label {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-regular);
    font-size: var(--fs-ingredientes-label);
    line-height: var(--lh-ingredientes-label);
    color: var(--color-text);
}

.ingredientes input {
    flex: 0 0 auto;
}

.ingredientes input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--color-check-borde);
    cursor: pointer;
    outline: none;
    position: relative;
    top: 4px;
}

.ingredientes input[type="checkbox"]::after {
    font-family: 'Material icons';
    content: 'check';
    font-weight: var(--fw-bold);
    color: var(--color-check);
    position: absolute;
    top: 1px;
    left: 2px;
    display: none;
}

.ingredientes input[type="checkbox"]:checked {
    background: var(--color-aside-valor);
}

.ingredientes input[type="checkbox"]:checked::after {
    display: block;
}

.ingredientes label {
    margin-left: 0.8rem;
    margin-bottom: 1rem;
}

.ingredientes label span {
    font-weight: var(--fw-bold);
}

.ingredientes label span.fw-500 {
    font-weight: var(--fw-medium);
}

.main__contenido .ingredientes:nth-of-type(3) {
    margin-bottom: 4.2rem;
}

.main__contenido h4 {
    font-family: var(--ff-Playfair);
    font-weight: var(--fw-regular);
    font-style: italic;
    font-size: var(--fs-ingredientes-h4);
    line-height: var(--lh-ingredientes-h4);
    margin-bottom: 2.4rem;
}

.main__contenido h2 {
    font-family: var(--ff-Playfair);
    font-weight: var(--fw-bold);
    font-size: var(--fs-instrucciones-h2);
    line-height: var(--lh-instrucciones-h2);
    margin-top: 3rem;
    margin-bottom: 2.8rem;
}

.instrucciones {
    display: flex;
}

.orden {
    flex: 0 0 auto;
    width: 3.6rem;
    height: 3.6rem;
    background-color: var(--color-aside-valor);
    color: var(--color-check);
    font-family: var(--ff-Playfair);
    font-weight: var(--fw-bold);
    font-size: var(--fs-instrucciones-check);
    line-height: calc(var(--lh-instrucciones-check) - 0.5rem);
    text-align: center;
}

.instrucciones p {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-regular);
    font-size: var(--fs-instrucciones-label);
    line-height: var(--lh-instrucciones-label);
    margin-bottom: 3.1rem;
    margin-left: 1.5rem;
}

.instrucciones p span {
    font-weight: var(--fw-bold);
}

.fuente {
    font-family: var(--ff-Montserrat);
    font-weight: var(--fw-regular);
    font-size: var(--fs-fuente);
    line-height: var(--lh-fuente);
    color: var(--color-fuente);
    margin-top: 2.6rem;
    margin-bottom: 13rem;
}

.fuente span {
    white-space: nowrap;
}

footer {
    margin-top: 14.4rem;
    margin-bottom: 2.4rem;
}

footer p {
    font-family: var(--font-family-footer);
    font-weight: var(--fw-medium);
    font-size: 1.4rem;
    line-height: var(--lh-footer);
    text-align: center;
    color: var(--color-footer);
}

footer p span {
    font-weight: var(--fw-bold);
    text-decoration: underline;
}

footer p span a,
footer p span a:visited {
    color: var(--color-footer);
}